.main-title {
  padding-left: 30px;
}

#banner {
  width: 100%;
}

.main {
  background: #cccccc;
  padding: 20px;
}

.centered-title {
  text-align: center;
}

p {
  text-align: center;
}

em strong {
  color: red;
}

#mission {
  font-size: 20px;
}

.qualities {
  background: #ffffff;
  padding: 30px;
}

.items {
  font-style: italic;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.qualitiesImage {
  width: 50%;
}
